In [ ]:
import pandas as pd
t=pd.Series()
print(t)

Series([], dtype: float64)

<ipython-input-1-ae5eac35582e>:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  t=pd.Series()

In [ ]:
import numpy as np
data=np.array(['a','b','c','d'])
print(data)
type(data)

['a' 'b' 'c' 'd']

numpy.ndarray

In [ ]:
s=pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
s=pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [ ]:
data1=["a","c","b"]
s=pd.Series(data1,index=[1,"a",2])
print(s)

1    a
a    c
2    b
dtype: object

In [ ]:
data3={"a":1,"b":2,"c":3}
s=pd.Series(data3)
print(s)

a    1
b    2
c    3
dtype: int64

In [ ]:
data3={"a":1,"b":2,"c":3}
s=pd.Series(data3,index=[0,1,2])
print(s)

0   NaN
1   NaN
2   NaN
dtype: float64

In [ ]:

s=pd.Series(5,index=[1,2,3,4])
print(s)

1    5
2    5
3    5
4    5
dtype: int64

In [ ]:
s=pd.Series([1,2,3,4,5],index=["a","b","c","d","e"])
print(s[1])

2

In [ ]:
s=pd.Series([1,2,3,4,5],index=["a","b","c","d","e"])
print(s[:3])

a    1
b    2
c    3
dtype: int64

In [ ]:
s[-3:]

c    3
d    4
e    5
dtype: int64

In [ ]:
s['a']

1

In [ ]:
old=np.array([[1,1,1],[1,1,1]])
old
new=old[0:2,0:2]
new

array([[1, 1],
       [1, 1]])

In [ ]:
animals=["tiger","bear",None]
pd.Series(animals)

0    tiger
1     bear
2     None
dtype: object

In [ ]:
import numpy as np
import pandas as pd
num=[1,2,3.0]
p=pd.Series(num)
p

0    1.0
1    2.0
2    3.0
dtype: float64

In [ ]:
np.nan==None

False

In [ ]:
#np.nan==np.nan
np.isnan(np.nan)

True

In [ ]:
import pandas as pd
sports={'cricket':'india','golf':'scotland','sumo':'japan','taekwondo':'southkorea'}
k=pd.Series(sports,index=['golf','sumo','hockey'])
k

golf      scotland
sumo         japan
hockey         NaN
dtype: object